/* NAVBAR*/
.nav-link i {
  transition: color 0.2s ease;
}

.nav-link:hover i {
  color: #ffc107;
}

/* HERO */

#inicio {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* separacion general */

.hero-container {
  padding-top: 90px;
  padding-left: 3rem;
  padding-right: 3rem;
}

/* texto */

.hero-info {
  padding-right: 4rem;
}

/* banners */

.game-banner {
  position: relative;

  height: 550px;

  overflow: hidden;
  border-radius: 15px;
}

.game-banner:hover {
  transform: translateY(-8px);
}

.game-banner img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

  display: block;
}

/* overlay */

.banner-overlay {
  position: absolute;

  left: 0;
  right: 0;
  bottom: 0;

  padding: 1.5rem;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.95),
    rgba(0, 0, 0, 0.55),
    transparent
  );
}

.banner-overlay h3 {
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;

  font-size: 1.8rem;
  font-weight: 700;
}

.banner-overlay p {
  margin: 0;
  opacity: 0.9;
}

/*Itesm*/
#productos {
  background-color: #f8f9fa;
}

#productos aside .card {
  position: sticky;
  top: 100px;
}

#productos .card-img-top {
  height: 250px;
  object-fit: cover;
}
